[Desktop Entry]
Exec=plasma-emojier
Name=Emoji Selector
Name[ar]=منتقي إيموجي
Name[az]=Emoji Seçici paneli
Name[be]=Сродак выбару эмодзі
Name[bg]=Избиране на емоджи
Name[ca]=Selector dels emojis
Name[ca@valencia]=Selector dels emojis
Name[cs]=Selektor emotikonů
Name[da]=Emoji-vælger
Name[de]=Emoji-Auswahl
Name[en_GB]=Emoji Selector
Name[es]=Selector de emojis
Name[et]=Emojide valija
Name[eu]=Emoji hautatzailea
Name[fi]=Emoji-valitsin
Name[fr]=Sélecteur d'émoticônes
Name[gl]=Selector de cariñas
Name[hu]=Emodzsiválasztó
Name[ia]=Selector de Emoji 
Name[id]=Pemilih Emoji
Name[ie]=Selector de emoji
Name[is]=Val emoji-tákna
Name[it]=Selettore di emoji
Name[ja]=絵文字セレクター
Name[ka]=Emoji -ების არჩევა
Name[ko]=이모지 선택기
Name[lt]=Jaustukų parinkiklis
Name[nl]=Emoji selectieprogramma
Name[nn]=Emoji-veljar
Name[pa]=ਇਮੋਜ਼ੀ ਚੋਣਕਾਰ
Name[pl]=Wybierak Emoji
Name[pt]=Selector de Emojis
Name[pt_BR]=Seletor de emoji
Name[ro]=Selector de emoji
Name[ru]=Панель выбора эмодзи
Name[sk]=Výber emoji
Name[sl]=Izbirnik čustvenčkov
Name[sv]=Väljare av emoji
Name[ta]=முகவடி தேர்வி
Name[tr]=Emoji Seçici
Name[uk]=Вибір емодзі
Name[vi]=Trình chọn hình biểu cảm
Name[x-test]=xxEmoji Selectorxx
Name[zh_CN]=表情符号选择工具
Name[zh_TW]=顏文字選擇工具
OnlyShowIn=KDE;
Type=Application
Icon=preferences-desktop-emoticons
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
X-KDE-Shortcuts=Meta+.
Categories=Qt;KDE;Utility;
Keywords[ab]=Асимволқәа;иуникод;апунктуациа;аматематика;анбанқәа;ақьачақьқәа;emoji;emoticon;
Keywords[bg]=знаци;уникод;юникод;пунктуация;математика;букви;емоджи;емотикони;усмивки;смайли;символи;characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;
Keywords[ca]=caràcters;unicode;puntuació;mates;lletres;emoji;emoticona;símbols;
Keywords[cs]=znak;znaky;unicode;unikód;interpunkce;interpunkční;znaménko;znaménka;matematické;symboly;značky;písmena;smajlík;smajlíci;emotikona;emotikony;
Keywords[da]=tegn;unicode;tegnsætning;matematik;bogstaver;emoji;smiley;humørikon;symboler;
Keywords[de]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;Zeichen;Zeichensetzung;Buchstaben;Smileys;Symbole;
Keywords[el]=χαρακτήρες;σημείο στίξης;μαθηματικά;γράμματα;εικονίδια διάθεσης;σύμβολα;characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;
Keywords[en_GB]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;
Keywords[es]=caracteres;unicode;puntuación;matemáticas;letras;emoji;emoticono;símbolos;
Keywords[eu]=karaktereak;unicode;puntuazioa;matematika;hizkiak;aurpegierak;emotikonoak;ikurrak;
Keywords[fa]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;نویسه‌ها;یونیکد;یونی‌کد;ریاضی;حروف;شکلک;نقطه‌گذاری;نمادها;
Keywords[fi]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;merkit;kirjaimet;hymiöt;symbolit;
Keywords[fr]=caractères;unicode;ponctuation;math;lettres;émoji;émoticône;symboles;
Keywords[fur]=caratars;unicode;puntuazion;matematiche;letaris;emoji;emoticon;simbui;
Keywords[gl]=caracteres;unicode;puntuación;matemático;letras;emoji;emoticono;símbolos;
Keywords[he]=תו;תווים;יוניקוד;פיסוק;מתמטיקה;אותיות;חייכנים;רגשונים;סמיילים;סמיילי;רגשון;חייכן;סמל הבעה;ניקוד;טעמים;סמלים;
Keywords[hr]=znakovi;unikôd;interpunkcija;matematika;slova;smajli;emotkoin;simboli;
Keywords[hu]=karakterek;unicode;központozás;matematika;betűk;emodzsi;hangulatjel;szimbólumok;
Keywords[id]=karakter;unikode;tanda baca;matematika;huruf;emoji;emotikon;simbol;
Keywords[is]=stafir;staftákn;unicode;greinamerki;stærðfræði;tjáningartákn;emoji;merki;tákn;
Keywords[it]=caratteri;carattere;unicode;punteggiatura;matematica;lettere;emoji;emoticon;faccine;persone;simboli;
Keywords[ja]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;文字;ユニコード;句読点;数字;絵文字;顔文字;表情;感情;シンボル;
Keywords[ka]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;
Keywords[kk]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;таңбалар;юникод;емле;математика;әріптер;эмодзи;смайлик;
Keywords[ko]=characters;문자;unicode;유니코드;punctuation;구두기호;구두점;math;수학;letters;언어문자;emoji;이모지;emoticon;이모티콘;symbols;심볼;기호;
Keywords[lt]=simboliai;unikodas;skyryba;matematika;raidės;šypsniukai;emotikonos;simboliai;
Keywords[lv]=rakstzīmes;unikods;interpunkcija;matemātika;burti;emocijas;simboli;
Keywords[ne]=क्यारेक्टरहरू;युनिकोड;विराम चिह्नहरू;गणित;अक्षरहरू;इमोजी;इमोटिकोन;प्रतीकहरू;
Keywords[nl]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;tekens;symbolen;interpunctie;wiskunde;
Keywords[oc]=caractèrs;unicode;pontuacion;math;letras;emoji;emoticòna;matematicas;simbol;
Keywords[pl]=znak;znaki;czcionka;font;pismo;unicode;unikod;interpunkcja;interpunkcyjne;matematyka;matematyczne;litery;emoji;emotikony;emotikonki;emotki;symbole;mapa;
Keywords[pt]=caracteres;unicode;pontuação;matemática;letras;emoji;emoticons;símbolos;
Keywords[pt_BR]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;caracteres;pontuação;matemática;letras;carinhas;emoção;símbolos;
Keywords[ru]=символы;юникод;пунктуация;математический;буквы;смайлики;emoji;emoticon;
Keywords[sat]=ᱪᱤᱱᱦᱟᱹ ᱠᱚ;ᱭᱩᱱᱤᱠᱳᱰ;ᱪᱤᱠᱷᱱᱟᱹ;ᱮᱞᱮᱠᱷ;ᱚᱞ ᱠᱚ;ᱤᱢᱳᱡᱤ;ᱤᱢᱳᱴᱤᱠᱳᱱ;ᱪᱤᱱᱦᱟᱹ ᱠᱚ;
Keywords[sk]=znaky;unicode;diakritika;matematika;znaky;písmená;emotikona;smajlík;symboly;
Keywords[sl]=znaki;unikod;unicode;matematika;ločila;črke;emotikoni;izrazne ikone;emoji;simboli;ločila;
Keywords[sr]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;знак;знакови;уникод;јуникод;интерпункција;математика;слова;емотикон;емотикони;симболи;
Keywords[sv]=tecken;unicode;skiljetecken;matematik;bokstäver;emoji;emoticon;humörsymbol;symboler;
Keywords[tr]=karakterler;unicode;evrensel kod;unikod;noktalama;matematik;harfler;emoji;surat;yüz;ifade;emoticon;simgeler;semboller;
Keywords[uk]=символи;унікод;пунктуація;математика;букви;літери;емоції;смайлики;символіка;
Keywords[zh_CN]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;字符;万国码;标点符号;表情;字母;公式;数学;音标;符号;
Keywords[zh_TW]=characters;unicode;punctuation;math;letters;emoji;emoticon;字元;萬國碼;統一碼;標點;符號;數學;字母;繪文字;表情圖示;表情符號;輸入;
Keywords=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;
